body{
    font-size:  16px;
    color: #fff;
    background-color: #61122f;
    font-style: 'Oxygen', sans-serif;
}
#header-nav{
    border-radius: 0;
}
.navbar-brand{
    font-size: 30px;
    text-shadow: 1px 1px 1px #222;
}
a{
    color: black;
}
#navbar-item{
    text-align: center;
}
#navbar-item a:hover{
    background: grey;
}
.container{
    width: 100%;
    text-align: center;
    font-size: 1em;
}
p,h3{
    background-color: grey;
    margin: 0;
    padding-bottom: 5px;
}
@media (min-width: 768px) {
    #navbar-item{
        display: none;
    }
    
  }

